header {
  background-color: #131921;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 5rem;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
header h1 i {
  color: #FF9900;
}
header i {
  font-size: 3rem;
  color: white;
}
header button {
  background-color: transparent;
  border: none;
}
header button:active {
  background-color: #4d4d4d;
  border: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar #search-input {
  width: 40vw;
  height: 2.5rem;
  border-radius: 4px;
  /* box-shadow: 2px 0px 0px #66ff00, -2px 0px 0px #ff008a; */
  border: none;
}
.search-bar #search-clear-button {
  height: 2.2rem;
  margin: 1%;
  font-size: 1.5rem;
  width: 3%;
  position: relative;
  right: 4%;
  border: none;
  background-color: transparent;
}

.categories-menu {
  position: fixed;
  top: 5rem;
  background-color: white;
  width: 20%;
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  left: 0%;
  animation: 0.1s ease-in-out 0s 1 running slidein2 forwards;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.categories-menu ul {
  padding: 2%;
  width: 100%;
  margin: 0 auto;
}
.categories-menu li {
  list-style-type: none;
}
.categories-menu .cat-btn {
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  padding: 3%;
  width: 100%;
  color: black;
  text-align: left;
  margin-bottom: 1%;
}
.categories-menu .cat-btn:active {
  background-color: #bfbfbf;
}
.categories-menu .cat-btn:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
.categories-menu h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 5%;
  color: white;
  padding: 20px;
  background-color: #232F3E;
}
.categories-menu #cat-close {
  position: absolute;
  width: 55px;
  background-color: transparent;
  border: none;
  color: white;
  left: 87%;
  font-size: 2rem;
}
.categories-menu #cat-close:hover {
  color: #FF9900;
}
@keyframes slidein2 {
  from {
    left: -20%;
  }
  to {
    left: 0%;
  }
}

.cart {
  position: fixed;
  top: 5rem;
  background-color: white;
  width: 20%;
  min-height: 40%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  left: 120%;
  animation: 0.1s ease-in-out 0s 1 running slidein forwards;
  max-height: 95vh;
  overflow: scroll;
  box-shadow: -5px 5px 10px rgba(128, 128, 128, 0.5);
}
.cart ul {
  padding: 2%;
  width: 100%;
  margin: 0 auto;
  min-height: 8.5rem;
}
.cart .cart-item {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 3%;
  border: none;
}
.cart .cart-h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  padding-bottom: 20px;
  border: none;
  background-color: transparent;
  color: black;
}
.cart input {
  width: 40px;
  height: 1.5rem;
  margin-left: 3%;
  float: right;
}
.cart .total {
  margin-top: 0.5rem;
  /* border-top: 1px solid black; */
  padding-top: 10px;
}
.cart .moving {
  animation: 3s ease-in-out 1s 1 running slidein forwards;
}
@keyframes slidein {
  from {
    left: 120%;
  }
  to {
    left: 80%;
  }
}
.cart .item-quantity {
  align-self: flex-end;
  width: 50px;
  height: 1.8rem;
  justify-self: flex-end;
}
.cart .cart-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #FF9900;
  align-items: center;
  padding: 2%;
}
.cart .cart-p {
  margin: 1%;
  width: 60%;
  color: black;
}
.cart #cart-item-delete-btn {
  background-color: transparent;
  border: none;
  justify-self: flex-end;
  color: grey;
}
.cart .pay-btn {
  background-color: #232F3E;
  color: white;
  border: none;
  height: 2rem;
  width: 70%;
  align-self: center;
  justify-self: flex-end;
  border-radius: 5px;
  font-size: 1.2rem;
  /* box-shadow: 2px 0px 0px #66ff00, -2px 0px 0px #ff008a; */
  /* margin-top: 6%; */
}
.cart .pay-btn:hover {
  color: #FF9900;
}
.cart #cart-title {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 5%;
  color: white;
  padding: 20px;
  background-color: #232F3E;
}
.cart #cart-close {
  position: absolute;
  width: 55px;
  background-color: #232F3E;
  border: none;
  color: white;
  right: 87%;
  font-size: 2rem;
  z-index: 10;
}
.cart #cart-close:hover {
  color: #FF9900;
}

.login-menu {
  position: fixed;
  background-color: white;
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  left: 40%;
  top: 20%;
  box-shadow: 7px 7px 15px rgba(128, 128, 128, 0.7);
}
.login-menu .login-title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1%;
  color: white;
  padding: 20px;
  background-color: #232F3E;
  width: 100%;
}
.login-menu form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  margin: 2%;
  padding: 2%;
}
.login-menu form label {
  margin: 2%;
  font-size: 1.4rem;
  width: 100%;
  background-color: #f2f2f2;
  padding: 1%;
}
.login-menu form input {
  width: 80%;
  height: 2.5rem;
  margin: 2%;
  border: 2px solid #232F3E;
  border-radius: 5px;
}
.login-menu form input:active {
  border: 2px solid #FF9900;
}
.login-menu form #submit {
  width: 30%;
  margin: 6%;
  background-color: #FF9900;
  border: none;
  height: 2rem;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
}
.login-menu #login-close {
  position: absolute;
  width: 55px;
  background-color: transparent;
  border: none;
  color: white;
  right: 1%;
  font-size: 2rem;
  z-index: 10;
}

.inventory {
  width: 100%;
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px;
  grid-auto-rows: 450px;
  gap: 15px;
  margin: 20px auto;
  padding: 6rem 1.5% 0 6%;
}

.item {
  background-color: #f2f2f2;
  padding: 10px;
  height: 450px;
  display: flex;
  flex-flow: column nowrap;
}
.item img {
  max-height: 250px;
  display: block;
  background-color: gray;
  max-width: 280px;
  margin: 0 auto;
  object-fit: contain;
  margin-bottom: 15px;
  align-self: center;
}
.item .item-title {
  font-size: 1.5rem;
  border: none;
  font-weight: 400;
  color: Black;
  align-self: center;
  height: 5.5rem;
  margin: 0;
  text-align: center;
}
.item #add-cart-btn {
  float: right;
  background-color: #232F3E;
  color: white;
  border: none;
  height: 2rem;
  border-radius: 5px;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 1.2rem;
}
.item #add-cart-btn:active {
  background-color: #1a1a1a;
  color: white;
}
.item #add-cart-btn:hover {
  background-color: #b3b3b3;
}
.item .price {
  margin: 0;
  font-size: 2rem;
  color: black;
  clear: none;
  justify-self: center;
  margin-bottom: 2%;
}

/*# sourceMappingURL=App.css.map */
